body {
  color: #000000;
  padding: 20px;
  margin: 20px;
  display: inline;
  width: 300px;
  text-align: justify;
  display: flex;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: normal;
  font-style: italic;

  padding-right: 15px;
}
